[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=hourtracker
Icon=/usr/share/icons/hicolor/90x90/apps/hourtracker.png
Exec=hourtracker

